.list {
  float: left;
  display: inline-block;
  padding-right: 30px;
  border-right: 2px solid #004d1b;
  height: 300%;
}

.list .cat-list li {
  cursor: pointer;
  font-weight: 700;
  list-style-type: none;
  line-height: 20px;
}

.list .cat-list .delete-cat {
  cursor: pointer;
  font-weight: 700;
}

.list .cat-list .delete-cat:hover {
  color: #cc0000;
}

.list .cat-list li:hover {
  color: #004d1b;
}

.cat-wrapper {
  display: inline-block;
  margin-left: 10%;
}

.cat-wrapper #cat-name {
  text-align: center;
}

.cat-wrapper #cat-pic {
  height: 300px;
  width: 500px;
  text-align: center;
  cursor: pointer;
}

.cat-wrapper #clicks {
  text-align: center;
}

.cat-wrapper .activated {
  -webkit-animation: blink 0.3s ease-in 1;
}

.cat-wrapper #cat-pic img {
  max-height: 300px;
  max-width: 500px;
  display: inline-block;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

@-webkit-keyframes blink {
  0% {color: black;}
  50% {color: yellow;}
  100% {color:black;}
}